.mat-dialog-content {
  max-height: 100vh !important;
  height: calc(100vh - 295px) !important;
  margin: 0;
  padding: 8px 24px;
}

.mat-form-field {
  display: inline-block;
  position: relative;
  text-align: left;
  width: 100%;
}

.form {
  margin-top: 15px;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}
